:root{
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1).;
    --header-web:#2196F3;
    --nav-studio:#000000;
    --nav:#212121;
    --nav-number:#757575;
    --main:#2F303A;
    --main-title:#FFFFFF;
    --li-h2:#000000;
    --li-p:#757575;
    --footer-background:#2F303A;
    --button:#F5F4FA;
    --icon-color:#AFB1B8
}
body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
   padding-top: 24px;
   padding-bottom: 25px; 
}
.site-nav-link:hover{
    transition-duration: 250ms;
    color: var(--header-web);
    animation-name: changeColor;
    animation-duration: 250ms;
    animation-timing-function: var(--timing-function);
    @keyframes changeColor{
        0%
        {
            color: #757575;
        }

        100%
        {
            color: var(--header-web)
        }
    }



}
.feature{
    padding-bottom: 94px;
    padding-top: 94px;
}
.feature-list{
    width: 270px;
    background-color: var(--main-title);
}
.feature-list::before{
    content: '';
    display: block;
    width: 100%;
    height: 120px;
    background-color: var(--button);
    border-radius: 4px;
    background-image: url(img/antenna.webp);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
}
.feature-list:nth-child(2)::before{
    background-image: url(img/clock.webp)
}
.feature-list:nth-child(3)::before{
    background-image: url(img/diagram.webp);
}
.feature-list:nth-child(4)::before{
    background-image: url(img/astronaut.webp);
}
.feature-item{
    display: flex;
    justify-content: space-between ;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.logo-nav{
    display: flex;
    align-items: center;
}
.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--header-web);
    margin-right: 93px; 
    
}
.black{
    color: var(--nav-studio);
}
.navigation{
    font-size: 14px;
    font-weight: 500;
}
.site-nav{
    width: 281px;
    display: flex;
    justify-content: space-between;
}
.site-nav-link{
    color: var(--nav);
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.28px;
}
.contact-link{
    color: var(--nav-number);
}
.contacts{
    font-size: 14px;
    font-weight: 500;
    display: flex;
}
.contacts .contact-link:hover{
    color: var(--header-web);
}
.contact-link:hover .contact-icon{
   fill: var(--header-web)
}
.contact-link{
    display: flex;
    align-items: center;
}
.contact-icon{
    margin-right: 10px; 
}
.mail{
    margin-right: 50px;
}
.menu{
    background-image: url(./img/Img.webp);
    background-color: var(--footer-background);
    padding-top: 200px;
    padding-bottom: 200px;
}
.menu-biznes{
    color: var(--main-title);
    text-align: center;
    font-size: 40px;
    font-weight: 900px;
    line-height: 136%;
    text-transform: uppercase;
    margin-bottom: 30px;

}
.menu-but{
    background-color: var(--header-web);
    color: var(--main-title);
    font-size: 16px;
    font-weight: 700;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.menu-wrap{
    display: flex;
    justify-content: center;
}
.fact{
    font-size: 14px;
    font-weight: 700;
    color: var(--nav);
    margin-bottom: 10px;
    margin-top: 30px;
    text-transform: uppercase;
}
.true{
    font-size: 14px;
    font-weight: 400;
    color: var(--nav-number);
    line-height: 170%;
}
.what-we-do{
    background-color: var(--main-title);
    padding-bottom: 94px;
}
.what-we-do-item{
    font-size: 36px;
    font-weight: 700;
    color: var(--nav);
    margin-bottom: 50px;
    text-align: center;
}
.what-we-do-list{
     display: flex;
     justify-content: space-between;
}
.img{
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}
.activity-subtitle{
    position: absolute;
    bottom: 3px;
    color: var(--main-title);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.80);;
}
.activity{
    position: relative;
}
.work{
    background-color: var(--button);
    padding-top: 94px;
    padding-bottom: 94px;
}
.personalization{
    font-size: 36px;
    font-weight: 700;
    color: var(--nav);
    margin-bottom: 50px;
    text-align: center;
}
.personalization-us{
    display: flex;
    justify-content: space-between;
}
.social-icon{
    width: 20px;
    height: 20px;
}
.social-list{
    display: flex;
    justify-content: space-between;
    margin-right: 32px;
    margin-left: 32px;
    margin-top: 16px;
}
.social-link{
    fill: var(--icon-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-link:hover,
.social-link:focus{
    fill: var(--button);
    background-color: var(--header-web);
}
.photo{
    width: 270px;
    height: 260px;
    margin-bottom: 30px;
}
.personalization-list{
    text-align: center;
}
.personalization-who{
    width: 270px;
    padding-bottom: 30px;
    background-color: var(--main-title);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

}
.person{
    font-size: 16px;
    font-weight: 500;
    color: var(--nav);
    margin-bottom: 10px;
}
.always{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 94px;
    margin-top: 66px;
    margin-bottom: 110px;
}
.always-box{
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin-top: 94px;
}
.always-item{
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid var(--icon-color);
    fill: var(--icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.always-item:hover{
    border-radius: var(--header-web);
}
.always-item:hover .always-list{
    fill: var(--header-web);
    border-color: var(--header-web);
}
.always-list{
    width: 106px;
    height: 60px;
}
.work-do{
    font-size: 16px;
    font-weight: 400;
    color: var(--nav-number);
}
.footer{
    background-color: var(--footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-wrap{
    display: flex;
    justify-content: space-between;
}
.foot-icon{
    width: 20px;
    height: 20px;
}
.foot-list{
    display: flex;
    justify-content: space-between;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 16px;
}
.foot-link{
    fill: var(--icon-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-link:hover,
.foot-link:focus{
    fill: var(--icon-color);
    background-color: var(--header-web);
}
.foot-text{
    font-size: 14px;
    color: var(--main-title);
}
.send{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    color: var(--main-title);
}
.form{
    width: 358px;
    height: 50px;
}
.send-box{
    display: flex;
    align-items: center;
}
.btn{
    width: 200px;
    height: 50px;
    background-color: var(--header-web);
}
.sub{
    font-size: 16px;
    display: flex;
    align-items: center;
    color: var(--main-title);
}
.address{
    width: 231px;
    height: 21px;
    color: var(--main-title);
}
.inf{
    width: 231px;
    height: 21px;
    color: var(--nav-number);  
}
.main{
    background-color: var(--main-title);
}
.butt-item-tt{
    width: 73px;
    height: 38px;
    flex-shrink: 0;
    background-color: var(--header-web);
    color: var(--main-title);
    font-size: 16px;
    font-weight: 500;
}
.butt-list{
    text-align: center;
}
.butt-item{
    background: var(--button);
    font-weight: 500px; 
    border-radius:4px;
    font-size: 16px;
    border: none;
    padding: 6px 22px;
    line-height: 162%;
    cursor: pointer;
    font-family:'Roboto', sans-serif;
}
.butt{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
       
}
.picture{
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}
.portfolio{
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
}
.portfolio-do{
    color: var(--nav);
    font-size: 18px;
    font-weight: 700;
}
.portfolio-link{
    color: var(--li-p);
    font-size: 16px;
    font-weight: 400;
}
.portfolio-item{
       text-align: center;
       display: flex;
       flex-direction: column;
       align-items: center;
}
.portfolio:nth-child(1){
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);

}


/*modal*/ 
.backdrop { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.2); 
  } 
  .backdrop.is-hidden { 
    opacity: 0; 
    visibility: hidden; 
    pointer-events: none; 
  } 
  .modal { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    min-width: 528px; 
    min-height: 581px; 
    background-color: var(--main-title); 
    border-radius: 4px; 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 
      0px 2px 1px rgba(0, 0, 0, 0.2); 
  } 
  .modal-close-button{ 
      margin-left: 490px; 
      margin-right: 8px; 
      width: 30px; 
      height: 30px; 
      background-color: var(--main-title); 
      border: 1px solid rgba(0, 0, 0, 0.10); 
      border-radius: 50%; 
      cursor: pointer; 
      background-image: url(./img/symbol-defs.svg#icon-close-blac); 
      background-repeat: no-repeat; 
      background-position: center; 
      display: flex; 
      align-items: center; 
  } 
  .modal-icon{ 
      fill: #000000; 
  } 
  .modal-icon:hover, 
  .modal-icon:focus{ 
      fill: var(--header-web); 
  } 
  .modal-form { 
    width: 528px; 
    padding-left: 40px; 
  }





