:root{
    --header-web:#2196F3;
    --nav-studio:#000000;
    --nav:#212121;
    --nav-number:#757575;
    --main:#2F303A;
    --main-title:#FFFFFF;
    --li-h2:#000000;
    --li-p:#757575;
    --footer-background:#2F303A;
    --button:#F5F4FA;
    --icon-color:#AFB1B8
}
body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
   padding-top: 24px;
   padding-bottom: 25px; 
}
.feature{
    padding-bottom: 94px;
    padding-top: 94px;
}
.feature-list{
    width: 270px;
    background-color: var(--main-title);
    text-align: center;
}
.feature-list::before{
    content: '';
    display: block;
    width: 100%;
    height: 120px;
    background-color: var(--button);
    border-radius: 4px;
    background-image: url(img/antenna.webp);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
}
.feature-list:nth-child(2)::before{
    background-image: url(img/clock.webp)
}
.feature-list:nth-child(3)::before{
    background-image: url(img/diagram.webp);
}
.feature-list:nth-child(4)::before{
    background-image: url(img/astronaut.webp);
}
.feature-item{
    display: flex;
    justify-content: space-between ;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.logo-nav{
    display: flex;
    align-items: center;
}
.header-wrap{
    display: flex;
    justify-content: space-between;
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--header-web);
    margin-right: 93px; 
    
}
.black{
    color: var(--nav-studio);
}
.navigation{
    font-size: 14px;
    font-weight: 500;
}
.site-nav{
    width: 281px;
    display: flex;
    justify-content: space-between;
}
.site-nav-link{
    color: var(--nav);
}
.contact-link{
    color: var(--nav-number);
}
.contacts{
    font-size: 14px;
    font-weight: 500;
    display: flex;
}
.contatcs .contact-link:hover,
.contatcs .contact-link:focus{
    fill: var(--header-web);

}
.contact-link:hover .conten-icon{
   fill: var(--header-web)
}
.contact-link{
    display: flex;
    align-items: center;
}
.contact-icon{
    margin-right: 10px; 
}
.mail{
    margin-right: 50px;
}
.menu{
    background-image: url(./img/Img.webp);
    background-color: var(--footer-background);
    padding-top: 200px;
    padding-bottom: 200px;
}
.menu-biznes{
    color: var(--main-title);
    text-align: center;
    font-size: 40px;
    font-weight: 900px;
    line-height: 136%;
    text-transform: uppercase;
    margin-bottom: 30px;

}
.menu-but{
    background-color: var(--header-web);
    color: var(--main-title);
    font-size: 16px;
    font-weight: 700;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.menu-wrap{
    display: flex;
    justify-content: center;
}
.fact{
    font-size: 14px;
    font-weight: 700;
    color: var(--nav);
    margin-bottom: 10px;
    margin-top: 30px;
}
.true{
    font-size: 14px;
    font-weight: 400;
    color: var(--nav-number);
    line-height: 170%;
}
.what-we-do{
    background-color: var(--main-title);
    padding-bottom: 94px;
}
.what-we-do-item{
    font-size: 36px;
    font-weight: 700;
    color: var(--nav);
    margin-bottom: 50px;
    text-align: center;
}
.what-we-do-list{
     display: flex;
     justify-content: space-between;
}
.img{
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}
.work{
    background-color: var(--button);
    padding-top: 94px;
    padding-bottom: 94px;
}
.personalization{
    font-size: 36px;
    font-weight: 700;
    color: var(--nav);
    margin-bottom: 50px;
    text-align: center;
}
.personalization-us{
    display: flex;
    justify-content: space-between;
}
.social-icon{
    width: 20px;
    height: 20px;
}
.social-list{
    display: flex;
    justify-content: space-between;
    margin-right: 32px;
    margin-left: 32px;
    margin-top: 16px;
}
.social-link{
    fill: var(--icon-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-link:hover,
.social-link:focus{
    fill: var(--button);
    background-color: var(--header-web);
}
.photo{
    width: 270px;
    height: 260px;
    margin-bottom: 30px;
}
.personalization-list{
    text-align: center;
}
.personalization-who{
    width: 270px;
    padding-bottom: 30px;
    background-color: var(--main-title);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

}
.person{
    font-size: 16px;
    font-weight: 500;
    color: var(--nav);
}
.always{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 94px;
    margin-top: 66px;
    margin-bottom: 110px;
}
.always-box{
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin-top: 94px;
}
.always-item{
    fill: var(--icon-color);
}
.always-item:hover,
.always-item:focus{
    fill: var(--header-web);
}

.always-list{
    width: 106px;
    height: 60px;
}
.work-do{
    font-size: 16px;
    font-weight: 400;
    color: var(--nav-number);
}
.footer{
    background-color: var(--footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
}
.address{
    width: 231px;
    height: 21px;
    color: var(--main-title);
}
.inf{
    width: 231px;
    height: 21px;
    color: var(--nav-number);  
}
.main{
    background-color: var(--main-title);
}
.butt-item-tt{
    width: 73px;
    height: 38px;
    flex-shrink: 0;
    background-color: var(--header-web);
    color: var(--main-title);
    font-size: 16px;
    font-weight: 500;
}
.butt-list{
    text-align: center;
}
.butt-item{
    background: var(--button);
    font-weight: 500px; 
    border-radius:4px;
    font-size: 16px;
    border: none;
    padding: 6px 22px;
    line-height: 162%;
    cursor: pointer;
    font-family:'Roboto', sans-serif;
}
.butt{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
       
}
.picture{
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}
.portfolio{
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
}
.portfolio-do{
    color: var(--nav);
    font-size: 18px;
    font-weight: 700;
}
.portfolio-link{
    color: var(--li-p);
    font-size: 16px;
    font-weight: 400;
}
.portfolio-item{
       text-align: center;
       display: flex;
       flex-direction: column;
       align-items: center;
}
.portfolio:nth-child(1){
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);

}




